<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Activity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        {% for act in activity %}
        <div class="card">
            <div class="card-header" style="text-align: center;">{{ act.activity }}</div>
            {% for person in member %}
            {% if person.activity == act %}
            <div class="card-body">
                {{ person.name}}
            </div>
            {% endif %}
            {% endfor %}
            <div class="card-footer">
                <a  href="{%url 'add_member' member_id=act.pk%}">
                    <button class = "btn btn-primary" style="float: left; background-color: #4682B4;" type='Submit'>Join</button>
                </a>
            </div>    
            </form>
            {% endfor %}       
        </div>
        
    </div>
    <div class="container">
        <a  href="/add-activity/">
            <button class = "btn btn-primary" style="float: right; background-color: #4682B4;" type='Submit'>Add Activity</button>
        </a>
    </div>
    



</body>
</html>






