<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header" style="text-align: center;">Add your Activity</div>
            <form method='POST'>
                {% csrf_token %}
                {% for form in ActivityForm %}
                <div class="card-body">
                    {{form.label}}
                    {{form}}
                </div>
                {% endfor %}
                <div class="card-footer">
                    <div class="col bg">
                        <a  href="{% url 'activity_list' %}">
                            <button class = "btn btn-primary" style="float: left; background-color: #4682B4;" type='Submit'>Add Activity</button>
                        </a>
                    </div>
                    
                </div>    
            </form>
                    
        </div> 
    </div>
    
    <div class="container">
        <a  href="/">
            <button class = "btn btn-primary" style="float: right; background-color: #4682B4;" type='Submit'>List Activity</button>
        </a>
    </div>
    

               
        
</body>
</html>

