<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Member</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header" style="text-align: center;">Your name please</div>
            <form method='POST'>
                {% csrf_token %}
                <div class="card-body">
                    {{form}}
                </div>
                <div class="card-footer">
                    <input type = 'submit' class = "btn btn-primary" style="float: center; background-color: #4682B4;" value="Register" />
                </div>    
            </form>
                    
        </div>
    </div>
</body>
</html>



